<div class="wrapper" style="width: 700px">
  <div class="row justify-content-center">
      <% @list.bookmarks.each do |bookmark| %>
      <div class="card-product">
        <img src="<%= bookmark.movie.poster_url %>" alt="Movie image">
        <div class="card-product-infos">
            <h2>Title: <%= bookmark.movie.title %></h2>
            <p>Rating: <%= bookmark.movie.rating %></p>
            <p><%= bookmark.comment %> <%= link_to "Delete Bookmark", bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
      <% end %>
    <%= link_to 'Go Back to main lists', root_path, class: "btn btn-secondary"%>
  </div>
</div>
