<div class="card-product">
  <% @list.bookmarks.each do |bookmark| %>
    <img src="<%= bookmark.movie.poster_url %>" alt="Movie image">
    <div class="card-product-infos">
        <h2>Title: <%= bookmark.movie.title %></h2>
        <p>Rating: <%= bookmark.movie.rating %></p>
        <p><%= bookmark.comment %> <%= link_to "Delete Bookmark", bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  <% end %>
</div>
